/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

.left-side {
  width: 50%;
  float: left;
}

.right-side {
  width: 50%;
  float: right;
}

pre {
  white-space: pre-wrap;
}

.inline {
  display: inline-flex;
}
