{{!-- template-lint-disable require-input-label --}}
<select {{on 'change' this.updateValue}}>
    {{#each @options as |opt|}}
    <option value={{opt}} selected={{eq this.value opt}}>{{opt}}</option>
    {{/each}}
</select>