<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Comunica query-sparql test app</h1>
  </LinkTo>
  <div class="links">
    {{!-- <LinkTo @route="add-expense" class="menu-link">
      Expenses
    </LinkTo> --}}
  </div>
</nav>