/**
 * Top Navigation
 */

.menu {
  position: relative;
}

.menu h1 {
  position: relative;
  padding: 5px 0;
}

.menu .links {
  display: inline-block;
}

.menu a {
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/**
* Other stuff
*/

.left-side {
  width: 50%;
  float: left;
}

.right-side {
  width: 50%;
  float: right;
}

pre {
  white-space: pre-wrap;
}

.inline {
  display: inline-flex;
}

textarea {
  width: calc(99vw);
  height: calc(40vh);
}

.collapsible,
.open {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.collapsible:hover {
  background-color: #ccc;
}

.collapsible .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.open .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(+45deg);
}
