/**
 * Top Navigation
 */

.menu {
  position: relative;
}

.menu h1 {
  position: relative;
  padding: 5px 0;
}

.menu .links {
  display: inline-block;
}

.menu a {
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/**
* Other stuff
*/

.left-side {
  width: 50%;
  float: left;
}

.right-side {
  width: 50%;
  float: right;
}

pre {
  white-space: pre-wrap;
}

.inline {
  display: inline-flex;
}

textarea {
  width: calc(99vw);
  height: calc(40vh);
}

.incorrect {
  background-color: #e13b2c;
  white-space: pre-wrap;
}
