<button type="button" {{on "click" this.runTestSuite}}>Run tests</button>
{{#if this.testInitiated}}

  {{#each @model.queries as |query|}}
    <Test @query={{query}}/>
  {{/each}}

{{/if}}

{{outlet}}