{{page-title "ComunicaSparqlEmber"}}

<NavBar/>

<p>This is a simple test page to try different uses of the comunica query-sparql module in ember.</p>
<p>Below you can find different functionalities to test.</p>

{{outlet}}