{{page-title "ComunicaSparqlEmber"}}

<h1>Comunica query-sparql test app</h1>

<p>This is a simple test page to try different uses of the comunica query-sparql module in ember.</p>
<p>Below you can find different functionalities to test.</p>

<h2>Simple queries</h2>

<button type="button" {{on "click" this.queryAll}}>Simple query to file</button>

{{outlet}}